body {
    margin: 0;
}

#root {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1024px 1fr;
}

@media (max-width: 1024px) {
    #root {
        grid-template-columns: 1fr;
    }
}

.root-container {
    grid-column: 2 / 3;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

.header {
    padding: 15px 5px 5px 10px;
    background: black;
    font-size: 36px;
}

.header a {
    color: white;
    text-decoration: none;
}

.search-options-panel {
    border-bottom: black 1px solid;
    padding: 5px;
}

.stamp-list-panel {
    margin-top: 10px;
}

.footer {
    background-color: black;
    color: white;
    padding: 5px;
}

.footer a {
    color: white;
}